data/DB_AHA filter=lfs diff=lfs merge=lfs -text
data/cudb filter=lfs diff=lfs merge=lfs -text
data/esc filter=lfs diff=lfs merge=lfs -text
data/mit filter=lfs diff=lfs merge=lfs -text
data/nstdb filter=lfs diff=lfs merge=lfs -text
